<!DOCTYPE html>
<html lang="en">

<head>
    <title>SriRam Industries</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <style>
        #banner {
            height: 360px;
            width: 100%;
            object-fit: cover;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="text-center mt-2 mb-4">SriRam Industries</h1>
        <img class="img-responsive" id="banner"
            src="https://sriram-industries.onrender.com/static/banner.jpg"
            height="320">
        <h2 class="text-center">About SriRam Industries</h2>
        <p class="lead">Founded in 1985 by a group of highly enterprising youngsters guided by an expert semiconductor
            technologist in india, SriRam Industries has been designing and manufacturing solder wafers and preforms for
            the semiconductor industry in India.

            The semiconductor device technology is based on very high standards of purity and cleanliness of input raw
            materials as well processing and packaging.

            Thus Sri Ram Industries also had to eveolve and maintain stringent levels of quality of raw materials and
            cleanliness in the production of alloys and preforms. Precision and accuracy of dimensions and weight have
            become the life breath of Sri Ram Industries.</p>
        <h2 class="text-center mt-2 mb-4"">Our Products</h2>
    <div>
      {% for product in products%}
      {% include 'products.html' %}
      {% endfor %}
    </div>
      <div class = " text-center mt-4 mb-4">
            <!--<div class="row"><-->
            <!--<h1 class="text-center"><a href="#myModal" role="button" class="btn btn-primary btn-lg" data-toggle="modal">Contact Us</a></h1><-->
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#popupModal">
                Contact Us</button>
            <!-- </div> <-->
            <p class="mt-4">Copyright 2024, SriRam Industries</p>
    </div>
    </div>

   <!-- Modal -->
    <div class="modal fade" id="popupModal" tabindex="-1" aria-labelledby="popupModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="popupModalLabel">Contact Us</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="contact_form" name="contact_form" method="post">
                        <div class="mb-5">
                            <label for="email_addr">Email address</label>
                            <input type="email" required maxlength="50" class="form-control" id="email_addr" name="email"
                                placeholder="name@example.com">
                        </div>
                        <div class="mb-5">
                            <label for="name_input">Name</label>
                            <input type="text" required maxlength="50" class="form-control" id="name_input" name="name"
                                placeholder="Name">
                        </div>
                        <div class="mb-5">
                            <label for="phone_input">Phone</label>
                            <input type="tel" required maxlength="50" class="form-control" id="phone_input" name="Phone"
                                placeholder="Phone">
                        </div>
                        <div class="mb-5">
                            <label for="message">Message</label>
                            <textarea class="form-control" id="message" name="message" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
